.hidden {
	display: none;
}

.config-hidden {
	display: none;
}

.auth-hidden {
	display: none;
}

label {
	margin-bottom: 2px;
	display: block;
}

.navbar {
	min-height: 115px;
}

button {
	min-width: 150px;
}

pre,
code {
	white-space: pre-wrap;
}

#challenge2Section {
	scroll-margin-top: 150px;
}
