{
	"Comment": "UPSERT a CNAME for auth.rocks workshop",
	"Changes": [
		{
			"Action": "UPSERT",
			"ResourceRecordSet": {
				"Name": "${CIC_TENANT_PREFIX}.auth.rocks",
				"Type": "CNAME",
				"TTL": 300,
				"ResourceRecords": [
					{
						"Value": "app-server.${INSTRUQT_PARTICIPANT_ID}.instruqt.io"
					}
				]
			}
		}
	]
}
