[Unit]
Description=Code Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/code-server --host 0.0.0.0 --port 8443 --cert --auth none --user-data-dir ${USER_SETTINGS_DIR} ${APP_PATH}
[Install]
WantedBy=multi-user.target